* {
  background-color: #FFFFFF;
}

body {
  font-family: 'inknut antiqua', sans-serif;
}

.header-container {
  background-color: blue;
}

.banner-container {
  width: 100vw;
  max-width: 2000px; /* Adjust as needed */
  height: auto;
  margin: 0 auto;
}

.banner-image {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  gap: 20px;
}

.trending-title {
  font-size: 30px;
  padding-left: 15vw;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
}

.carousel-item {
  flex: 0 0 18%;
  text-align: center;
  margin: 0 10px;
}

.carousel img {
  width: 100%; /* Make images responsive */
  height: auto;
  max-width: 100%;
}

.arrow-button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.left {
  margin-right: 10px;
}

.right {
  margin-left: 10px;
}
